# STRING

# Q1

In [1]:
First_Name = input('Please enter your first name: ')
Last_Name = input('Please enter your last name: ')
Email_id = input('Please enter your email id: ')
Course = input('Please enter your course: ')

Please enter your first name: Yashwant
Please enter your last name: Sharma
Please enter your email id: syashwant91@gmail.com
Please enter your course: Data Science

# Q2

In [2]:
print(f'{First_Name.title()}{Last_Name.title()}, {Email_id.lower()}\n{Course.upper()}')

YashwantSharma, syashwant91@gmail.com
DATA SCIENCE

# Q3

In [3]:
Title = input('Enter title: ')
Fullname = input('Enter your full name: ')

print(f'{Title.capitalize()}\n{Fullname}')

Enter title: mr.
Enter your full name: Yashwant sharma
Mr.
Yashwant sharma

# Q4

In [4]:
Lines = ('There was an old owl who lived in an oak tree. Every day, he observed incidents that occurred around him.\nYesterday, he watched as a young boy helped an old man carry a heavy basket. Today, he saw a young girl shouting at her mother. The more he saw, the less he spoke.\nAs the days went on, he spoke less but heard more. The old owl heard people talking and telling stories.\nHe heard a woman saying an elephant jumped over a fence. He heard a man saying that he had never made a mistake.\nThe old owl had seen and heard what happened to people. There were some who became better, some who became worse. But the old owl in the tree had become wiser, each and every day.')
print(Lines)

There was an old owl who lived in an oak tree. Every day, he observed incidents that occurred around him.
Yesterday, he watched as a young boy helped an old man carry a heavy basket. Today, he saw a young girl shouting at her mother. The more he saw, the less he spoke.
As the days went on, he spoke less but heard more. The old owl heard people talking and telling stories.
He heard a woman saying an elephant jumped over a fence. He heard a man saying that he had never made a mistake.
The old owl had seen and heard what happened to people. There were some who became better, some who became worse. But the old owl in the tree had become wiser, each and every day.

# Q5

In [5]:
Text = "oNcE upoN A tIMe, iN a mYsTeRIouS fOrEst, tHEre wAS aN aDvEnTuRoUS yOUnG gIRL nAMeD aLICe. ShE wAS aLwAyS cURiOuS aBOuT eVErYtHInG aNd cOULd nEvEr rESiST eXPlORiNg nEW pLaCeS.\nOnE dAy, wHilE wANdErInG tHroUGh tHE fOrEsT, aLICe cAMe aCRoSS a tInY dOoR tHaT wAs hIdDEn bEHinD sOmE bUShES. sHE cOuLdN't rESisT hER cUriOSItY aNd dEcIDeD tO oPeN tHe dOOr. tO hER aMaZEmeNT, tHe dOoR lEd tO a mAGiCaL wORlD!\nThE nEw wOrLd wAs fIlLeD wItH bRiGhT cOlOrS aNd sTRaNge cReAtuReS. aLiCe mEt a tALkiNg rAbBiT wHo cArRiEd a pOcKet wATcH aNd wAs aLwAyS iN a hURrY. sHE fOLLoWEd tHe rAbBiT aNd eMbArKEd oN a sErIeS oF uNfORsEeN aDvEnTuReS.\nIn hER jOuRnEy, aLiCe eNcOUnteReD a cHEsHirE cAT, wHo gRAcEd hER wITh a mYsTErIoUs sMiLe aND sPoKe iN rIDDles. sHe aLsO hELpEd a gRoUP oF tEa cUps aNd tEa pOtS hAVe a tEa pARtY, wHicH wAs qUiTe tHE uNusUal sIgHt tO sEE!"

In [6]:
Text = Text.title()

In [7]:
print(Text)

Once Upon A Time, In A Mysterious Forest, There Was An Adventurous Young Girl Named Alice. She Was Always Curious About Everything And Could Never Resist Exploring New Places.
One Day, While Wandering Through The Forest, Alice Came Across A Tiny Door That Was Hidden Behind Some Bushes. She Couldn'T Resist Her Curiosity And Decided To Open The Door. To Her Amazement, The Door Led To A Magical World!
The New World Was Filled With Bright Colors And Strange Creatures. Alice Met A Talking Rabbit Who Carried A Pocket Watch And Was Always In A Hurry. She Followed The Rabbit And Embarked On A Series Of Unforseen Adventures.
In Her Journey, Alice Encountered A Cheshire Cat, Who Graced Her With A Mysterious Smile And Spoke In Riddles. She Also Helped A Group Of Tea Cups And Tea Pots Have A Tea Party, Which Was Quite The Unusual Sight To See!

# Q6

In [8]:
BMW = ('BMW, a renowned German automotive manufacturer, has left an indelible mark on the Indian automotive landscape. With its striking designs and innovative engineering, BMW has become a symbol of luxury and performance in the Indian market. Indian consumers have wholeheartedly embraced the brand, appreciating its cutting-edge technology, comfort, and style. The BMW brand exudes an air of exclusivity and sophistication, appealing to the discerning Indian clientele who seek nothing but the best. Over the years, BMW has tailored its oô€Ž›erings to cater to the diverse tastes and preferences of the Indian populace, solidifying its position as a leading luxury carmaker in the country. Whether navigating bustling city streets or cruising along picturesque highways, the presence of a BMW on Indian roads commands attention and admiration, reflecting the brands strong allure and timeless appeal to the Indian automotive enthusiast.')

In [9]:
BMW.count('Indian')

7

# Q7

In [10]:
text = ('Once++upon++a++time,++there++was++a++brave++knight++named++Sir++Arthur.++He++lived++in++a++mighty++castle++on++top++of++a++steep++hill.++Sir++Arthur++was++known++for++his++fearlessness++and++his++sword++skills.++He++had++a++loyal++horse++named++Thunder++and++a++wise++mentor++named++Merlin.++Together++they++embarked++on++many++adventures++and++fought++fierce++dragons++to++protect++the++kingdom.++Sir++Arthurs++courageous++deeds++became++legendary++and++inspired++generations++to++come.')

In [11]:
text.replace('++',' ')

'Once upon a time, there was a brave knight named Sir Arthur. He lived in a mighty castle on top of a steep hill. Sir Arthur was known for his fearlessness and his sword skills. He had a loyal horse named Thunder and a wise mentor named Merlin. Together they embarked on many adventures and fought fierce dragons to protect the kingdom. Sir Arthurs courageous deeds became legendary and inspired generations to come.'

# SET

# Q1, Q2, Q3

In [12]:
e = set()
num1 = int(input('Enter a number between 1-99: '))
num2 = int(input('Enter a number between 1-99: '))
num3 = int(input('Enter a number between 1-99: '))
num4 = int(input('Enter a number between 1-99: '))
num5 = int(input('Enter a number between 1-99: '))
e.add(num1)
e.add(num2)
e.add(num3)
e.add(num4)
e.add(num5)
print(e)
if len(e)<5:
    print('Please enter the numbers again')
else:
    print("Length: "f'{len(e)}')

Enter a number between 1-99: 25
Enter a number between 1-99: 35
Enter a number between 1-99: 45
Enter a number between 1-99: 78
Enter a number between 1-99: 96
{96, 35, 45, 78, 25}
Length: 5

# Q4

In [13]:
d = set()
numm1 = int(input('Enter a number between 1-99: '))
numm2 = int(input('Enter a number between 1-99: '))
numm3 = int(input('Enter a number between 1-99: '))
numm4 = int(input('Enter a number between 1-99: '))
numm5 = int(input('Enter a number between 1-99: '))
d.add(numm1)
d.add(numm2)
d.add(numm3)
d.add(numm4)
d.add(numm5)
print(d)

Enter a number between 1-99: 32
Enter a number between 1-99: 54
Enter a number between 1-99: 68
Enter a number between 1-99: 75
Enter a number between 1-99: 42
{32, 68, 42, 75, 54}

# Q5 a

In [14]:
e.intersection(d)

set()

# Q5 b

In [15]:
e.isdisjoint(d)

True

# Q6

In [16]:
e.symmetric_difference(d)

{25, 32, 35, 42, 45, 54, 68, 75, 78, 96}

# Q7

In [17]:
Animals = {'Cat','Dog','Lion','Elephant','Horse','Cow','Giraffe','Deer','Zebra','Camel'}

# Q8

In [18]:
s = set()
Animal_name = input('Please enter your favourite animal name: ')
s.add(Animal_name)

Please enter your favourite animal name: Lion

# Q9

In [19]:
s.issubset(Animals)

True

# LIST

# Q1

In [21]:
g = []
city1 = input('Enter city name: ')
city2 = input('Enter city name: ')
city3 = input('Enter city name: ')
city4 = input('Enter city name: ')
city5 = input('Enter city name: ')
g.append(city1)
g.append(city2)
g.append(city3)
g.append(city4)
g.append(city5)
print(g)

Enter city name: Delhi
Enter city name: Gurgaon
Enter city name: Noida
Enter city name: Jaipur
Enter city name: Chandigarh
['Delhi', 'Gurgaon', 'Noida', 'Jaipur', 'Chandigarh']

# Q2

In [23]:
print(g.index('Delhi'))
print(g.index('Gurgaon'))
print(g.index('Noida'))
print(g.index('Jaipur'))
print(g.index('Chandigarh'))

0
1
2
3
4

# Q3

In [24]:
g[0],g[4] = g[4],g[0]

In [25]:
g

['Chandigarh', 'Gurgaon', 'Noida', 'Jaipur', 'Delhi']

# Q4

In [26]:
g[2] = 'Berlin'
g[3] = 'Rome'

In [27]:
g

['Chandigarh', 'Gurgaon', 'Berlin', 'Rome', 'Delhi']

# Q5

In [28]:
i = g[2:4]

In [29]:
i

['Berlin', 'Rome']

# Q6

In [30]:
intern1 = input('Please enter international city: ')
intern2 = input('Please enter international city: ')
intern3 = input('Please enter international city: ')
i.append(intern1)
i.append(intern2)
i.append(intern3)

Please enter international city: Melbourne
Please enter international city: Switzerland
Please enter international city: Sidney

In [31]:
i

['Berlin', 'Rome', 'Melbourne', 'Switzerland', 'Sidney']

# Q7

In [32]:
print(f'Length of list g is: {len(g)}')
print(f'Length of list i is: {len(i)}')

Length of list g is: 5
Length of list i is: 5

# Q8

In [33]:
i.extend(g)

In [34]:
i

['Berlin',
 'Rome',
 'Melbourne',
 'Switzerland',
 'Sidney',
 'Chandigarh',
 'Gurgaon',
 'Berlin',
 'Rome',
 'Delhi']

In [35]:
i.reverse()

In [36]:
i

['Delhi',
 'Rome',
 'Berlin',
 'Gurgaon',
 'Chandigarh',
 'Sidney',
 'Switzerland',
 'Melbourne',
 'Rome',
 'Berlin']

# Q9

In [37]:
i.pop(2)

'Berlin'

# Q10

In [38]:
new_list = ['Delhi', 'is', 'a', 'bustling', 'metropolis', 'that', 'seamlessly', 'blends', 'a', 'rich', 'historical', 'past', 'with',
'the', 'modern', 'world.', 'It', 'has', 'a', 'deep-rooted', 'history', 'dating', 'back', 'thousands', 'of', 'years,',
'making', 'it', 'one', 'of', 'the', 'oldest', 'continuously', 'inhabited', 'cities', 'in', 'the', 'world.']

In [39]:
string = ' '.join(new_list)
string.upper()

'DELHI IS A BUSTLING METROPOLIS THAT SEAMLESSLY BLENDS A RICH HISTORICAL PAST WITH THE MODERN WORLD. IT HAS A DEEP-ROOTED HISTORY DATING BACK THOUSANDS OF YEARS, MAKING IT ONE OF THE OLDEST CONTINUOUSLY INHABITED CITIES IN THE WORLD.'

# Q11

In [40]:
tup = tuple(i)

In [41]:
tup

('Delhi',
 'Rome',
 'Gurgaon',
 'Chandigarh',
 'Sidney',
 'Switzerland',
 'Melbourne',
 'Rome',
 'Berlin')

# Q12

In [42]:
z = tup[0:2]

In [43]:
z

('Delhi', 'Rome')

# DICTIONARY

In [44]:
book = {} 
def info_book(): 
    """Creates a phone book with names as key and a list of dictionaries as values""" 

    while True: 
        names = input('Please enter the First and Last name separated by space (or type "exit" to quit): ') 
        if names.lower() == 'exit': 
            break 
        number = input('Please enter the phone number: ') 
        address = input('Please enter your location: ') 
        full_name = " ".join(names.split()) 
        # Check if the full name exists in the phone book 
        if full_name in book: 
        # If the name exists , append the new entry to the existing list of entries 
            book[full_name].append({ 'address' : address, 'number' : number }) 
        else : 
            # If the name does not exist, create a new entry with a list containing the dictionary 
            book[full_name] = [{ 'address' : address, 'number' : number }] 
    return book 
info_book()

Please enter the First and Last name separated by space (or type "exit" to quit): Yash Sharma
Please enter the phone number: 844161161
Please enter your location: Delhi
Please enter the First and Last name separated by space (or type "exit" to quit): Kiran Bisht
Please enter the phone number: 545684225
Please enter your location: Delhi
Please enter the First and Last name separated by space (or type "exit" to quit): Anubhav Singh
Please enter the phone number: 94611111
Please enter your location: Jaipur
Please enter the First and Last name separated by space (or type "exit" to quit): Megha Rawat
Please enter the phone number: 32645664
Please enter your location: Dehradun
Please enter the First and Last name separated by space (or type "exit" to quit): Ankit Sharma
Please enter the phone number: 64644616
Please enter your location: Chandigarh
Please enter the First and Last name separated by space (or type "exit" to quit): exit

{'Yash Sharma': [{'address': 'Delhi', 'number': '844161161'}],
 'Kiran Bisht': [{'address': 'Delhi', 'number': '545684225'}],
 'Anubhav Singh': [{'address': 'Jaipur', 'number': '94611111'}],
 'Megha Rawat': [{'address': 'Dehradun', 'number': '32645664'}],
 'Ankit Sharma': [{'address': 'Chandigarh', 'number': '64644616'}]}

# Q1

In [45]:
book.keys()

dict_keys(['Yash Sharma', 'Kiran Bisht', 'Anubhav Singh', 'Megha Rawat', 'Ankit Sharma'])

# Q2

In [46]:
book.values()

dict_values([[{'address': 'Delhi', 'number': '844161161'}], [{'address': 'Delhi', 'number': '545684225'}], [{'address': 'Jaipur', 'number': '94611111'}], [{'address': 'Dehradun', 'number': '32645664'}], [{'address': 'Chandigarh', 'number': '64644616'}]])

# Q3

In [47]:
book.setdefault('Vikas Yadav')

In [48]:
book.keys()

dict_keys(['Yash Sharma', 'Kiran Bisht', 'Anubhav Singh', 'Megha Rawat', 'Ankit Sharma', 'Vikas Yadav'])

# Q4

In [49]:
book.setdefault('Matt Daemon')

In [50]:
book.update({'Matt Daemon':[{'address':'Pune','number':'555101898'}]})

In [51]:
book

{'Yash Sharma': [{'address': 'Delhi', 'number': '844161161'}],
 'Kiran Bisht': [{'address': 'Delhi', 'number': '545684225'}],
 'Anubhav Singh': [{'address': 'Jaipur', 'number': '94611111'}],
 'Megha Rawat': [{'address': 'Dehradun', 'number': '32645664'}],
 'Ankit Sharma': [{'address': 'Chandigarh', 'number': '64644616'}],
 'Vikas Yadav': None,
 'Matt Daemon': [{'address': 'Pune', 'number': '555101898'}]}

# Q5

In [52]:
book.update({'Matt Daemon':[{'address':'New York','number':'444333888'}]})

# Q6

In [53]:
new_book = {'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
'Alex Botez': [{'address': 'California', 'number': '464555202'}],
'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [54]:
new_book

{'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [55]:
book.update(new_book)

In [56]:
book

{'Yash Sharma': [{'address': 'Delhi', 'number': '844161161'}],
 'Kiran Bisht': [{'address': 'Delhi', 'number': '545684225'}],
 'Anubhav Singh': [{'address': 'Jaipur', 'number': '94611111'}],
 'Megha Rawat': [{'address': 'Dehradun', 'number': '32645664'}],
 'Ankit Sharma': [{'address': 'Chandigarh', 'number': '64644616'}],
 'Vikas Yadav': None,
 'Matt Daemon': [{'address': 'New York', 'number': '444333888'}],
 'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

# Q7

In [57]:
book.pop('Jon Snow')

[{'address': 'Sydney', 'number': '500600700'}]

# Q8

In [58]:
print(len(book))

11